<?xml version="1.0"?>
<ruleset name="Yoast SEO Local">
	<description>Yoast SEO Local rules for PHP_CodeSniffer</description>

	<file>.</file>

	<exclude-pattern>tests/*</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>deprecated/*</exclude-pattern>
	<exclude-pattern>languages/*</exclude-pattern>

	<arg name="extensions" value="php" />
	<arg value="nsp" />

	<rule ref="Yoast">
		<exclude name="WordPress.CSRF.NonceVerification.NoNonceVerification" /><!-- TODO audit and fix nonces -->
		<exclude name="Squiz.Commenting" /><!-- TODO add comments and disable exclusion -->
	</rule>

	<!-- Exclude this error for now, to make the build pass, this needs to be fixed
	Reference: https://github.com/Yoast/wordpress-seo-local/issues/1276 -->
	<rule ref="WordPress.VIP.RestrictedFunctions.wp_get_post_terms">
		<exclude-pattern>woocommerce/shipping/class-wc-shipping-method.php</exclude-pattern>
	</rule>
</ruleset>
